<div class="container-fluid">
    <div class="row">

        <div class="main">

            <div class="container driver-details-card">

                <div class="card card-inverse pull-left col-sm-12 col-xs-12">
                        <h3>Driver details</h3>
                        <h1 class="page-header">{{model.driverInfo.givenName}} {{model.driverInfo.familyName}}</h1>
                        <br>
                        <p> Driver Code: <strong>{{model.driverInfo.code}}</strong> <br>
                            Driver Nationality: <strong>{{model.driverInfo.nationality}}</strong> </p>
                </div>

            </div>

            <div class="container driver-details-options-card">
                <div class="container-fluid">
                    <button ng-click="model.searchCircuits()"
                            class="btn btn-default col-sm-3 col-xs-12">
                        <span class="glyphicon glyphicon-road"> Circuits </span>
                    </button>

                    <button ng-click="model.searchConstructors()"
                            class="btn btn-default col-sm-3 col-xs-12">
                        <span class="glyphicon glyphicon-home"> Constructors </span>
                    </button>

                    <button ng-click="model.searchStatus()"
                            class="btn btn-default col-sm-3 col-xs-12">
                        <span class="glyphicon glyphicon-stats"> Stats </span>
                    </button>

                    <button ng-click="model.searchResults()"
                            class="btn btn-default col-sm-3 col-xs-12">
                        <span class="glyphicon glyphicon-flag"> Results </span>
                    </button>
                </div>
            </div>

            <div class="container">
                <div ng-if="model.activeTable == 'circuits'" class="table-responsive margin-vertical-pad">

                    <p>{{model.driverInfo.givenName}} {{model.driverInfo.familyName}} has raced at the following circuits:</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th> Circuit Name </th>
                            <th> Location </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="result in model.driverCircuitsData">
                        <tr>
                            <td>
                                <a href="{{result.url}}"> {{result.circuitName}} </a>
                            </td>
                            <td>
                                <a href="http://maps.google.com/?q={{result.circuitName}} {{result.Location.locality}}, {{result.Location.country}}">
                                    <span class="glyphicon glyphicon-map-marker"></span>{{result.Location.locality}}, {{result.Location.country}}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="model.activeTable == 'constructors'" class="table-responsive margin-vertical-pad">

                    <p>{{model.driverInfo.givenName}} {{model.driverInfo.familyName}} has raced for the following teams:</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th> Constructor </th>
                            <th> Nationality </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="result in model.driverConstructorsData">
                        <tr>
                            <td>
                                <a href="{{result.url}}"> {{result.name}} </a>
                            </td>
                            <td>
                                {{result.nationality}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="model.activeTable == 'status'" class="table-responsive margin-vertical-pad">

                    <p>Found the following stats for {{model.driverInfo.givenName}} {{model.driverInfo.familyName}}:</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th> Status </th>
                            <th> Count </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="result in model.driverStatusData">
                        <tr>
                            <td>
                                {{result.status}}
                            </td>
                            <td>
                                {{result.count}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="model.activeTable == 'results'" class="table-responsive margin-vertical-pad">

                    <p>Race Results for {{model.driverInfo.givenName}} {{model.driverInfo.familyName}}:</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th> Season </th>
                            <th> Circuit Name </th>
                            <th class="dont-show-on-mobile"> Venue </th>

                            <th class="dont-show-on-mobile"> Constructor </th>

                            <th class="dont-show-on-mobile"> Avg. Speed </th>
                            <th class="dont-show-on-mobile"> Fastest Lap Time </th>
                            <th class="dont-show-on-mobile"> Final time gap </th>


                            <th> Qualified </th>
                            <th> Finished </th>
                            <th class="dont-show-on-mobile"> Points </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="result in model.driverResultsData">
                        <tr>
                            <td>
                                {{result.season}}
                            </td>
                            <td>
                                <a href="{{result.Circuit.url}}"> {{result.Circuit.circuitName}} </a>
                            </td>
                            <td class="dont-show-on-mobile">
                                <a href="http://maps.google.com/?q={{result.Circuit.circuitName}} {{result.Circuit.Location.locality}}, {{result.Circuit.Location.country}}">
                                    <span class="glyphicon glyphicon-map-marker"></span>{{result.Circuit.Location.locality}}, {{result.Circuit.Location.country}}
                                </a>
                            </td>
                            <td class="dont-show-on-mobile">
                                <a href="{{result.Results[0].Constructor.url}}">{{result.Results[0].Constructor.name}}</a>
                            </td>
                            <td class="dont-show-on-mobile">
                                {{result.Results[0].FastestLap.AverageSpeed.speed}} {{result.Results[0].FastestLap.AverageSpeed.units}}
                            </td>
                            <td class="dont-show-on-mobile">
                                {{result.Results[0].FastestLap.Time.time}}
                            </td>
                            <td class="dont-show-on-mobile">
                                {{result.Results[0].Time.time}}
                            </td>
                            <td>
                                {{result.Results[0].grid}}
                            </td>
                            <td>
                                {{result.Results[0].position}}
                            </td>
                            <td class="dont-show-on-mobile">
                                {{result.Results[0].points}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


