<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >

            <h1 class="">Forms</h1>

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Forms</a></li>
                <li role="presentation"><a href="#/fields">Fields</a></li>
            </ul>

            <div class="tab-content">

                <div id="formsTab" class="tab-pane active">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Form Name <span class="caret"></span>
                                    </button></th>
                                    <th><button type="button" class="btn btn-default">
                                        Action
                                    </button></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        <input ng-model="form.title" class="form-control" type="text" placeholder="Name"/>
                                    </td>
                                    <td>
                                        <button ng-click="addForm(form)" class="margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button ng-click="updateForm()" class="margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-repeat="form in formsForCurrentUser">
                                    <td>
                                        <a href="#/fields">{{form.title}}</a>
                                    </td>
                                    <td>
                                        <button ng-click="deleteForm($index)" class="margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button ng-click="selectForm($index)" class="margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="fieldsTab" class="tab-pane fade">

                    <!-- Fields tab content is in fields.view.html page -->

                </div>



            </div>


        </div>
    </div>
</div>
