<div class="container-fluid">
    <div class="row">

        <div class="main">


            <div class="container">
                <div id="guest-user-card" class="card card-inverse pull-left col-sm-12 col-xs-12">
                    <div class="card-img-overlay">
                        <div class="col-sm-6 col-xs-12">
                            <h3>Quiz Builder</h3>
                            <h1 class="page-header">
                                {{model.quizToEdit.title}}
                            </h1>

                            <h4> Current status : {{model.quizToEdit.publishedStatus}} </h4>

                            <button type="button" class="col-sm-6 col-xs-12 btn btn-select-to-edit"
                                    ng-click="model.editedQuizTitle"
                                    data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-pencil"></span> Edit Title
                            </button>

                            <button class="col-sm-6 col-xs-12 btn btn-warning"
                                    ng-if="model.quizToEdit.publishedStatus=='PUBLISHED'"
                                    ng-click="model.unpublishQuiz()">
                                <span class="glyphicon glyphicon-tent"></span> Unpublish quiz
                            </button>

                            <button class="col-sm-6 col-xs-12 btn btn-success"
                                    ng-if="model.quizToEdit.publishedStatus=='NOT PUBLISHED'"
                                    ng-click="model.publishQuiz()">
                                <span class="glyphicon glyphicon-send"></span> Publish quiz
                            </button>



                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <img src="./images/pitcrew.jpg" align="center">
                            <div class="col-sm-12 col-xs-12 alert alert-info"
                                 ng-show="model.message" role="alert">
                                {{model.message}}
                            </div>
                        </div>

                    </div>
                </div>

                <button type="button" class="btn btn-instructions"
                        data-toggle="collapse" data-target="#instructions">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Instructions
                </button>
                <div id="instructions" class="collapse col-sm-12 col-xs-12 instructions">
                    <p> Building quizzes is so simple! <br>
                        - Just hit the "arrow" <span class="glyphicon glyphicon-arrow-right"></span> next to a fact to generate a question.<br>
                        - Temporarily hide facts using the "filter" <span class="glyphicon glyphicon-filter"></span> button <br>
                        - Toggle between stored "Driver" and "Constructor" facts. <br>
                        - Go to the <a href="#/search/2016/3/Drivers">Season Progress</a> tool to bag more facts.<br>
                        - When you are done, review the questions and publish your quiz! </p>
                </div>
            </div>


            <div class="container">

                <div class="container-fluid">
                    <div class="row">
                        <div id="quizEditorStoredPanel">

                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <h5 align="center">
                                        Fact to Question generator
                                    </h5>
                                    <div class="col-sm-12 col-xs-12"
                                         ng-show="model.message" role="alert">
                                        <strong>Note:</strong> {{model.message}}
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xs-12 margin-vertical-pad">
                                    <button class="col-sm-12 col-xs-12 btn btn-default search-view-button"
                                            type="button"
                                            ng-click="model.toggleStandingsType()">
                                        {{model.championshipType}}
                                    </button>
                                </div>
                            </div>
                            <div ng-if="model.standingsSearchTypeDriver"
                                 class="container-fluid table-responsive margin-vertical-pad">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="show-only-on-mobile"> Fact </th>

                                            <th class="dont-show-on-mobile"> Season </th>
                                            <th class="dont-show-on-mobile"> Race Name </th>
                                            <th class="dont-show-on-mobile"> Driver </th>
                                            <th class="dont-show-on-mobile"> Constructor </th>
                                            <th class="dont-show-on-mobile"> Final Position </th>

                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="result in model.displayStoredResults">
                                        <tr>
                                            <td class="show-only-on-mobile">
                                                {{result.readableFact}}
                                            </td>

                                            <td class="dont-show-on-mobile">
                                                {{result.season}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.raceName}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.driverName}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.constructorName}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.finishingPosition}}
                                            </td>

                                            <td>
                                                <div class="row">
                                                    <button ng-click="model.hideResult($index)"
                                                            class="btn btn-delete-in-row">
                                                        <span class="glyphicon glyphicon-filter"></span>
                                                    </button>
                                                    <button ng-click="model.convertDRRFactToQuestion(result._id, $index)"
                                                            class="btn btn-add-new-plus">
                                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!model.standingsSearchTypeDriver" class="container-fluid table-responsive margin-vertical-pad">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="show-only-on-mobile"> Fact </th>

                                            <th class="dont-show-on-mobile"> Season </th>
                                            <th class="dont-show-on-mobile"> Race Name </th>
                                            <th class="dont-show-on-mobile"> Constructor </th>
                                            <th class="dont-show-on-mobile"> Nationality </th>
                                            <th class="dont-show-on-mobile"> Best Position </th>

                                            <th> Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="result in model.displayStoredResults">
                                        <tr>
                                            <td class="show-only-on-mobile">
                                                {{result.readableFact}}
                                            </td>

                                            <td class="dont-show-on-mobile">
                                                {{result.season}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.raceName}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.constructorName}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.constructorNationality}}
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{result.bestFinishingPosition}}
                                            </td>

                                            <td>
                                                <div class="row">
                                                    <button ng-click="model.hideResult($index)"
                                                            class="btn btn-delete-in-row">
                                                        <span class="glyphicon glyphicon-filter"></span>
                                                    </button>
                                                    <button ng-click="model.convertCRRFactToQuestion(result._id, $index)"
                                                            class="btn btn-add-new-plus">
                                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div  id="quizEditorQuestionsPanel" class="row">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <h5 align="center">
                                        Questions in this quiz
                                    </h5>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="table-responsive margin-vertical-pad">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-2"> Question </th>

                                            <th class="dont-show-on-mobile"> A </th>
                                            <th class="dont-show-on-mobile"> B </th>
                                            <th class="dont-show-on-mobile"> C </th>
                                            <th class="dont-show-on-mobile"> D </th>

                                            <th class="dont-show-on-mobile"> Answer </th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="question in model.questionsInThisQuiz">
                                        <tr>
                                            <td class="col-sm-12 col-xs-12">
                                                {{question.questionContent}}
                                                <div class="show-ans-txt-in-mobile"> <br>{{question.answer}} </div>
                                            </td>
                                            <td class="dont-show-on-mobile">
                                                {{question.option_A}}
                                            </td>

                                            <td class="dont-show-on-mobile">
                                                {{question.option_B}}
                                            </td>

                                            <td class="dont-show-on-mobile">
                                                {{question.option_C}}
                                            </td>

                                            <td class="dont-show-on-mobile">
                                                {{question.option_D}}
                                            </td>

                                            <td class="correct-answer-field dont-show-on-mobile">
                                                {{question.answer}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="quiz-staging-div" class="row">
                                    <button class="col-sm-6 col-xs-12 btn btn-danger search-view-button"
                                            ng-click="model.deleteAllQuestions(model.questionsInThisQuiz)">
                                        <span class="glyphicon glyphicon-trash"></span> Clear all questions
                                    </button>

                                    <button class="col-sm-6 col-xs-12 btn btn-warning search-view-button"
                                            ng-if="model.quizToEdit.publishedStatus=='PUBLISHED'"
                                            ng-click="model.unpublishQuiz()">
                                        <span class="glyphicon glyphicon-tent"></span> Unpublish quiz
                                    </button>

                                    <button class="col-sm-6 col-xs-12 btn btn-success search-view-button"
                                            ng-if="model.quizToEdit.publishedStatus=='NOT PUBLISHED'"
                                            ng-click="model.publishQuiz()">
                                        <span class="glyphicon glyphicon-send"></span> Publish quiz
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div> <!-- both containers inside this -->

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Title</h4>
                        </div>


                        <div class="modal-body">
                                <input ng-model="model.editedQuizTitle"
                                       class="form-control"
                                       type="text" placeholder="Quiz Title"/>

                        </div>


                        <div class="modal-footer">
                            <button ng-click="model.updateQuizTitle(model.editedQuizTitle)"
                                    class="btn btn-update-existing col-sm-6 col-xs-6"
                                    data-dismiss="modal">
                                Update
                            </button>
                            <button ng-click="model.dismissUpdateModal()"
                                    type="button" class="btn btn-delete-in-row"
                                    data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
