<div class="container-fluid">
    <div class="row">

        <div class="main">

            <div class="header row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="page-header">{{model.quizToEdit.title}}</h1>
                    <h2> Current status of the quiz : {{model.quizToEdit.publishedStatus}} </h2>
                </div>

                <div class="col-sm-6 col-xs-12 alert alert-info"
                     ng-show="model.message" role="alert">
                    {{model.message}}
                </div>
            </div>

            <div class="tab-content">
                <div id="editQuizTab" class="tab-pane active">

                    <div class="row col-sm-6 col-xs-12">
                        <div id="quizEditorStoredPanel">

                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <button class="dropdown-toggle btn btn-default col-sm-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{model.championshipType}}<span class="caret margin-horizontal-pad"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a ng-click="model.setStandingsType('Drivers Championship')">Drivers Championship</a></li>
                                        <li><a ng-click="model.setStandingsType('Constructors Championship')">Constructors Championship</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <button ng-click="model.displayResults()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"> </span> Display Stored
                                    </button>
                                </div>
                            </div>
                            <div ng-if="model.standingsSearchTypeDriver" class="table-responsive margin-vertical-pad">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th> Season </th>
                                        <th> Race Name </th>

                                        <th> Driver </th>

                                        <th> Constructor </th>

                                        <th> Final Position </th>

                                        <th> Actions </th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="result in model.displayStoredResults">
                                    <tr>
                                        <td>
                                            {{result.season}}
                                        </td>
                                        <td>
                                            {{result.raceName}}
                                        </td>

                                        <td>
                                            {{result.driverName}}
                                        </td>

                                        <td>
                                            {{result.constructorName}}
                                        </td>

                                        <td>
                                            {{result.finishingPosition}}
                                        </td>

                                        <td>
                                            <div class="row">
                                                <button ng-click="model.deleteStoredFact(result._id, result.driverName)"
                                                        class="btn btn-danger margin-horizontal-pad">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                <button ng-click="model.convertDRRFactToQuestion(result._id)"
                                                        class="btn btn-action margin-horizontal-pad">
                                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="!model.standingsSearchTypeDriver" class="table-responsive margin-vertical-pad">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th> Season </th>
                                        <th> Race Name </th>

                                        <th> Constructor </th>
                                        <th> Nationality </th>

                                        <th> Best Position </th>

                                        <th> Actions </th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="result in model.displayStoredResults">
                                    <tr>
                                        <td>
                                            {{result.season}}
                                        </td>
                                        <td>
                                            {{result.raceName}}
                                        </td>

                                        <td>
                                            {{result.constructorName}}
                                        </td>
                                        <td>
                                            {{result.constructorNationality}}
                                        </td>

                                        <td>
                                            {{result.bestFinishingPosition}}
                                        </td>

                                        <td>
                                            <div class="row">
                                                <button ng-click="model.deleteStoredFact(result._id, result.driverName)"
                                                        class="btn btn-danger margin-horizontal-pad">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                <button ng-click="model.convertCRRFactToQuestion(result._id)"
                                                        class="btn btn-action margin-horizontal-pad">
                                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="row col-sm-6 col-xs-12">
                        <div  id="quizEditorQuestionsPanel" class="row">
                            <div class="table-responsive margin-vertical-pad">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-sm-2"> Question </th>

                                        <th> Option A </th>
                                        <th> Option B </th>
                                        <th> Option C </th>
                                        <th> Option D </th>

                                        <th> Answer </th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="question in model.questionsInThisQuiz">
                                    <tr>
                                        <td class="col-sm-12 col-xs-12">
                                            {{question.questionContent}}
                                        </td>
                                        <td>
                                            {{question.option_A}}
                                        </td>

                                        <td>
                                            {{question.option_B}}
                                        </td>

                                        <td>
                                            {{question.option_C}}
                                        </td>

                                        <td>
                                            {{question.option_D}}
                                        </td>

                                        <td class="correct-answer-field">
                                            {{question.answer}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="quiz-staging-div" class="row col-sm-12 col-xs-12">
                                <button class="col-sm-4 col-xs-4 btn btn-danger"
                                        ng-click="model.deleteAllQuestions(model.questionsInThisQuiz)">
                                    Clear all questions
                                </button>

                                <button class="col-sm-4 col-xs-4 btn btn-toolbar"
                                        ng-click="model.unpublishQuiz()">
                                    Unpublish quiz
                                </button>

                                <button class="col-sm-4 col-xs-4 btn btn-success"
                                        ng-click="model.publishQuiz()">
                                    Publish quiz
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
