<div class="container-fluid">
    <div class="row">

        <div class="main">

            <h1 class="page-header">You're playing: {{model.quizToPlay.title}}!</h1>

            <div ng-show="model.message" class="alert alert-info" role="alert">{{model.message}}</div>

            <div class="table-responsive">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th class="col-sm-2"> Question </th>
                            <th ng-repeat="option in ['A','B','C','D']">
                                {{option}}
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="question in model.questionsInThisQuiz">
                        <tr>
                            <td class="col-sm-4 col-xs-4">
                                {{question.questionContent}}
                            </td>
                            <td ng-repeat="option in question.options"
                                class="btn-group col-sm-2 col-xs-2"
                                data-toggle="buttons">

                                <label class="btn btn-action"
                                       ng-class="{'active':question.selectedAnswer==option}"
                                       ng-click="model.updatedSelectedAnwer($parent.$index, option)">
                                    <input type="radio"
                                           value="{{option}}"
                                           ng-model="question.selectedAnswer">
                                    {{option}}
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="play-quiz-footer-div" class="row col-sm-12 col-xs-12">
                <button class="col-sm-4 col-xs-6 btn btn-danger"
                        ng-click="model.clearAllSelections()">
                    Clear all selections
                </button>


                <button class="col-sm-4 col-sm-push-4 col-xs-6 btn btn-success"
                        ng-click="model.submitAnswers()">
                    Submit!
                </button>
            </div>


        </div>
    </div>
</div>
