<div class="container-fluid">
    <div class="row">

        <div class="main">

            <div class="container">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="page-header">Quizzes</h1>
                    <p> Test your F1 knowledge! <br>
                        Select a quiz to play </p>
                </div>

                <div class="col-sm-6 col-xs-12 alert alert-info"
                     ng-show="model.message" role="alert">
                    {{model.message}}
                </div>
            </div>

            <div class="container">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Pick a quiz to get started </th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr ng-repeat="quiz in model.allQuizzes">
                            <td>
                                <button ng-if="!quiz.alreadyPlayed"
                                        ng-click="model.selectToPlay(quiz._id)"
                                        class="btn btn-default col-sm-12 col-xs-12">
                                    {{quiz.title}}
                                </button>

                                <button ng-if="quiz.alreadyPlayed"
                                        class="btn btn-block col-sm-12 col-xs-12">
                                    {{quiz.title}} | Complete
                                </button>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
