<div class="container-fluid">
    <div class="row">

        <div class="main">

            <h1 class="page-header">Quizzes</h1>

            <div ng-show="model.message" class="alert alert-info" role="alert">{{model.message}}</div>

            <div class="tab-content">
                <div id="quizTab" class="tab-pane active">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Quiz Title </th>
                                    <th> Action </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>    <!-- Table top row for interactions -->
                                    <td>
                                        <input ng-model="model.selectedQuiz.title"
                                               class="form-control"
                                               type="text" placeholder="Quiz Title"/>
                                    </td>
                                    <td>
                                        <button ng-click="model.addQuiz(model.selectedQuiz)"
                                                class="btn btn-toolbar">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button ng-click="model.updateQuiz(model.selectedQuiz)"
                                                class="btn btn-toolbar">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-repeat="quiz in model.quizzesForCurrentUser">
                                    <td>
                                        <button ng-click="model.goToEditQuiz(quiz._id)"
                                                class="btn btn-action col-sm-12 col-xs-12">{{quiz.title}}</button>
                                    </td>
                                    <td>
                                        <button ng-click="model.deleteQuiz($index)"
                                                class="btn btn-toolbar">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button ng-click="model.selectQuiz($index)"
                                                class="btn btn-toolbar">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
