/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 990px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
        background-color: #7C7C7C;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}
.nav-sidebar > li > a:hover {
    background-color: black;
    font-size: larger;
    font-style: italic;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: white;
    background-color: red;
    font-size: larger;
    font-style: italic;
}


/*
 * Main content
 */

.main {
    padding: 2px;
    padding-top: 100px;
}
@media (min-width: 990px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}







/*
Intunio css
*/

html {
    font-size: 100%;
}
body {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
}
.topspace {
    margin-top: 40px;
}
/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
    border-width: 1px 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    width: 100%;
    font-style: oblique;
    font-size: larger;
}
.navbar-team-mercedese {
    background-image:
            linear-gradient(
                    to right,
                    black, #00A39D
            );
}
.navbar-team-ferrari {
    background-image:
            linear-gradient(
                    to right,
                    black, red
            );
}
.navbar-team-red-bull {
    background-image:
            linear-gradient(
                    to right,
                    black, #590EA4
            );
}
.navbar-team-force-india {
    background-image:
            linear-gradient(
                    to right,
                    black, #FF8000
            );
}
.navbar-team-williams {
    background-image:
            linear-gradient(
                    to right,
                    black, #1519E9
            );
}
.navbar-team-haas {
    background-image:
            linear-gradient(
                    to right,
                    black, grey
            );
}
.navbar-team-toro-rosso {
    background-image:
            linear-gradient(
                    to right,
                    black, #0F1066
            );
}
.navbar-team-mclaren {
    background-image:
            linear-gradient(
                    to right,
                    black, black
            );
}
.navbar-team-renault {
    background-image:
            linear-gradient(
                    to right,
                    black, #C1BD3A
            );
}
.navbar-team-sauber {
    background-image:
            linear-gradient(
                    to right,
                    black, blue
            );
}
.navbar-team-manor {
    background-image:
            linear-gradient(
                    to right,
                    black, #007AE5
            );
}
.navbar.stick {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .85;
}


.navbar-collapse {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
}
.navbar-collapse .navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-collapse .navbar-nav > li > a:hover {
    color: ghostwhite;
    background-color: rgba(64, 67, 69, 0.15);
}
.navbar-collapse .navbar-nav > li > a {
    padding: 20px 30px;
    color: lightgrey;
}
.dropdown ul.dropdown-menu {
    top: 85%;
    text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
    padding: 5px 30px;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-family: "Arial Black";
    font-size: x-large;

    /*background: transparent;*/

}

/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: -0.37em;
}
.nav-side > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: orangered;
}
.nav-side > li > a:hover {
    color: red;
    background: white;
}
.nav-side > li.active > a {
    color: #bd1550;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
    line-height: 1.6em;
    margin: 0 0 30px 0;
}
ul,
ol {
    line-height: 1.6em;
    margin: 0 0 30px 0;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 30px;
    border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333333;
}
h1 {
    font-size: 40px;
    font-size: 2.5rem;
}
h2 {
    font-size: 36px;
    font-size: 2.25rem;
}
h3 {
    font-size: 30px;
    font-size: 1.875rem;
}
h4 {
    font-size: 24px;
    font-size: 1.5rem;
}
h5 {
    font-size: 20px;
    font-size: 1.25rem;
}
a {
    color: indianred;
}
a:hover {
    color: red;
}
.lead {
    font-weight: 300;
    font-size: 21px;
    font-size: 1.3125rem;
}
.text-msg {
    line-height: 1.7em;
    color: #b3b3b3;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}
/*********************************************************************


                                HEADER


**********************************************************************/
#head {
    background: #f4f4f4 url(../images/pitcrew.jpg) top center;
    background-size: cover;
    color: #7C7C7C;
    padding: 30px 0 35px 0;
}
#head img.img-circle {
    display: block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border: 9px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}
#head .title {
    font-family: Alice, Georgia, serif;
    font-size: 49px;
    font-size: 3.0625rem;
}
#head .title a {
    text-decoration: none;
    color: #333333;
}
#head .tagline {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2em;
    color: #7C7C7C;
    margin: 5px 0 0;
}
#head .tagline b {
    font-weight: normal;
}
#head .tagline a {
    color: #5E5E5E;
}
.home #head {
    padding: 90px 0;
}
.home #head .title {
    font-size: 49px;
    font-size: 3.0625rem;
}
.home #head .tagline {
    font-size: 16px;
    font-size: 1rem;
    margin: 15px 0 0;
}
/*********************************************************************


                                CONTENT


**********************************************************************/
img {
    max-width: 100%;
}
.btn {
    font-size: 12px;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    -webkit-border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0px;
    -moz-background-clip: padding;
    border-radius: 0px;
    background-clip: padding-box;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border: 0 none;
    padding: 12px 35px;
    text-shadow: 0 1px 0px #780d33;
}
.btn-primary {
    color: #fff;
    background-color: #bd1550;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #e61f65;
}
.btn-action {
    font-weight: bold;
    background: transparent!important;
    border: 2px solid #333;
    text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
    color: #bd1550;
    border-color: #bd1550;
}
.btn-stored {
    background-color: #00d4b4;
}
.btn-add-new-plus {
    background-color: rgba(71, 51, 242, 0.5);
}
.btn-update-existing {
    background-color:rgba(131, 242, 46, 0.78)
}
.btn-select-to-edit {
    background-color: rgba(56, 154, 242, 0.74);
}
.btn-delete-in-row {
    background-color:rgba(242, 70, 56, 0.58);
}

.btn-lg {
    padding: 15px 60px;
    font-size: 12px;
    line-height: 1.33;
    font-weight: bold;
}
.panel-cta {
    box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
    background: #f3f3f3;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
    margin: 0;
}
.panel-cta .panel-body {
    padding: 35px;
}
/* Section - Featured */
.featured {
    font-size: 13px;
    font-size: 0.8125rem;
}
.featured h3 {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.4em;
    vertical-align: middle;
    margin: 0 0 25px 0;
}
/* Section - Recent works */
.thumbnails {
    padding: 0;
}
.thumbnails li {
    margin-bottom: 30px;
}
.thumbnails .details {
    display: block;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
}
.thumbnail {
    display: block;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border: 0 none;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: #333;
}
.thumbnail .img {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 180px;
    margin: 0 0 20px;
    position: relative;
}
.thumbnail .title {
    text-transform: uppercase;
    margin: 0 2em;
    display: block;
    text-indent: 0;
}
.thumbnail .cover {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 550ms;
    -moz-transition-duration: 550ms;
    -o-transition-duration: 550ms;
    transition-duration: 550ms;
}
.thumbnail .cover .more {
    position: absolute;
    bottom: 15px;
    right: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    -webkit-border-radius: 1px 0 0 1px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 1px 0 0 1px;
    -moz-background-clip: padding;
    border-radius: 1px 0 0 1px;
    background-clip: padding-box;
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-shadow: 0 1px 0px #780d33;
    background: #bd1550;
    color: white;
}
.thumbnail img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.thumbnail:hover {
    color: #333;
    text-decoration: none;
}
.thumbnail:hover img {
    -webkit-filter: saturate(0%);
}
.thumbnail:hover .cover {
    opacity: 1;
}
/* pagination */
.pagination > li > a {
    color: #808080;
    border: 0 none;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: Georgia, serif;
}
.pagination > li > a:hover {
    color: #000000;
    background: none;
}
.pagination > li.active > a {
    color: #333333;
    background: none;
}
.pagination > li.active > a:hover {
    color: #000000;
    background: none;
}
/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title,
.entry-title {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0px 0 25px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: 1px;
}
.section-title a,
.entry-title a {
    color: #333333;
}
.section-title span,
.entry-title span {
    display: inline-block;
    position: relative;
}
.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
    content: "";
    position: absolute;
    height: 4px;
    top: .53em;
    width: 400%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
    right: 100%;
    margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
    left: 100%;
    margin-left: 45px;
}
.entry-header .entry-meta {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: normal;
    color: #a5a5a5;
    margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
    color: #a5a5a5;
}
.entry-content {
    margin: 0 0 60px 0;
}
.entry-content h2 {
    line-height: 1.2;
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 20px;
    margin-bottom: 20px;
}
.meta-nav,
.more-link {
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
    color: #333333;
    text-decoration: underline;
}
.more-link {
    display: block;
    width: 100%;
    text-align: right;
}
/* Posts navigation */
#nav-below {
    position: fixed;
    top: 48%;
}
#nav-below .meta-nav {
    display: block;
    padding: 27px 7px;
    background: #444;
    color: #fff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    opacity: 0.2;
}
#nav-below .meta-nav:hover {
    text-decoration: none;
    color: #333;
}
#nav-below .nav-next {
    position: fixed;
    right: -3px;
}
#nav-below .nav-previous {
    position: fixed;
    left: -3px;
}
#nav-below b {
    display: none;
}
footer.entry-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px 0;
    padding: 2px 0;
    color: #888888;
    font-size: 12px;
    font-size: 0.75rem;
}
footer.entry-meta a {
    color: #333333;
}
footer.entry-meta .meta-in {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    text-align: left;
}
.page-header .page-title {
    margin-top: 0;
    margin-bottom: 30px;
}
/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
    font-size: 13px;
    font-size: 0.8125rem;
}
#comments .comments-title {
    margin: 0 0 5px 0;
}
#comments .leave-comment {
    display: block;
    margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
    margin: 0;
    padding: 0;
}
#comments .comment {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
}
#comments .comments-title {
    text-shadow: none;
    margin-bottom: 0;
}
#comments .avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border: 5px solid #eeeeee;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
}
#comments .children {
    margin: 0 0 0 90px;
}
#comments .comment-meta {
    margin: 0 0 0 90px;
}
#comments .comment-meta a {
    color: #333333;
}
#comments .comment-meta a:hover {
    color: #bd1550;
}
#comments .comment-meta .author {
    margin: 0 20px 0 0;
    font-weight: bold;
}
#comments .comment-meta .date {
    margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
    color: #666666;
}
#comments .comment-meta .reply {
    float: right;
}
#comments .comment-body {
    margin: 0 0 35px 90px;
}
.comment-navigation {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next {
    float: right;
    width: 50%;
    text-align: right;
}
#respond {
    margin: 55px 0 0 0;
}
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}
#footer a {
    color: #ccc;
}
#footer a:hover {
    color: #fff;
}
#footer h3.widget-title {
    font-size: 15px;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #ccc;
    margin: 0 0 20px;
}
#underfooter {
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}
#underfooter a {
    color: #aaa;
}
#underfooter a:hover {
    color: #fff;
}
#underfooter p {
    margin: 0;
}
.follow-me-icons {
    font-size: 30px;
}
.follow-me-icons i {
    float: left;
    margin: 0 10px 0 0;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 990px) {
    .container {
        max-width: 1080px;
    }
}

/*********************************************************************


                                SEARCH PAGE / PILLS


**********************************************************************/
.nav-pills > li.active > a {
    background-color: red;
}

.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: orangered;
}

.form-control {
    background: whitesmoke;
    border-color: grey;
}

/*********************************************************************


                                Tables


**********************************************************************/

th {
    font-style: italic;
    font-size: larger;
    color: darkred;
}

/* Spacing */
.margin-vertical-pad{
    padding-top: 1%;
}

.margin-horizontal-pad{
}

/* scrolling */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/********************************************************************

                        TEXT AREA FOCUS

********************************************************************/

.form-control:active,
.form-control:focus {
    border-color: rgba(126, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(126, 0, 0, 0.075) inset, 0 0 8px rgba(126, 0, 0, 0.6);
    outline: 0 none;
}


/********************************************************************

                        IMAGES

********************************************************************/

div.stretch-redbull-image {
    height:100vh;
    background-image: url("../images/redbull_bw_back.jpg");
}

.index-background {
    background-image: url('../images/drivers_header_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#quizEditorStoredPanel {
    margin: 20px;
    padding: 10px;
    border: solid;
}

#quizEditorQuestionsPanel {
    margin: 20px;
    padding: 10px;
    border: solid;
}

.correct-answer-field {
    font-size: larger;
    color: #4cae4c;
}


.card-container {
    height: 300px;
}

.card-block {
    padding: 20px;
}

.card-tips {
    background-color: mediumseagreen;
    height: 300px;
}

.card-result {
    background-color: blueviolet;
    color: white;
}
.card-result-h4 {
    color: white;
}

.card-poor-result {
    background-color: indianred;
    color: white;
}

.card-progress {
    background-color: slategrey;
    color: white;
    /*height: 300px;*/
}
.card-progress-h4 {
    color: white;
}

#homepage-user-card {
    background-color: rgba(91, 63, 242, 0.41);
    padding: 25px;
}

.constructor-card-mercedese {
    color: rgba(253, 238, 255, 0.73);
    background-color: #00A39D;
    padding: 25px;
}

.constructor-card-ferrari {
    color: rgba(253, 238, 255, 0.73);
    background-color: rgba(242, 0, 35, 0.73);
    padding: 25px;
}

.constructor-card-red-bull {
    color: #ff000e;
    background-color: rgba(215, 75, 255, 0.33);
    padding: 25px;
}
.constructor-card-red-bull .text-muted {
    color: yellow;
}

.constructor-card-force-india {
    color: #ff9700;
    background-color: rgba(58, 53, 54, 0.67);
    padding: 25px;
}
.constructor-card-force-india .text-muted {
    color: #00e520
}

.constructor-card-williams {
    color: rgba(57, 68, 198, 0.92);
    background-color: white;
    padding: 25px;
}
.constructor-card-williams .text-muted {
    color: #e32c78;
}

.constructor-card-haas {
    color: rgba(253, 238, 255, 0.73);
    background-color: grey;
    padding: 25px;
}

.constructor-card-toro-rosso {
    color: black;   
    background-color: rgba(57, 68, 198, 0.46);
    padding: 25px;
}

.constructor-card-toro-rosso .text-muted {
    color: #ff2a00;
}

.constructor-card-mclaren {
    color: rgba(253, 238, 255, 0.73);
    background-color: rgba(0, 0, 0, 0.46);
    padding: 25px;
}

.constructor-card-renault {
    color: black;
    background-color: rgba(247, 214, 0, 0.71);
    padding: 25px;
}
.constructor-card-renault .text-muted {
    color: black
}

.constructor-card-sauber {
    color: darkblue;
    background-color: rgba(247, 214, 0, 0.71);
    padding: 25px;
}
.constructor-card-sauber .text-muted {
    color: black
}

.constructor-card-manor {
    color: darkblue;
    background-color: rgba(255, 133, 0, 0.53);
    padding: 25px;
}
.constructor-card-manor .text-muted {
    color: black
}

.card-text-info {
    padding-top: 20px;
}

.text-muted {
    color: whitesmoke;
}

#quiz-result-footer-div{
    margin: 42.5px;
    padding: 25px;
}

.search-view-button {
    font-size: small;
}

.quiz-options-field {
    font-size: inherit;
    line-height: inherit;
    margin: inherit;
}

.alert-info {
    color: white;
    border-radius: 0px;
    background-color: forestgreen;
    border-color: green;
    /*position: fixed;*/
}


/*
Making tables responsive
*/

@media screen and (max-width: 990px) {
    .dont-show-on-mobile {
        display:none;
    }
}

@media screen and (min-width: 990px) {
    .show-only-on-mobile {
        display:none;
    }
}

.hide-btn-txt-in-mobile{
    display: inline;
}

@media (max-width: 990px) {
    .hide-btn-txt-in-mobile {
        visibility: collapse;
    }
}

.show-ans-txt-in-mobile{
    display: inline;
    color: green;
}

@media (min-width: 990px) {
    .show-ans-txt-in-mobile {
        visibility: collapse;
    }
}

#quiz-question {
    color: white;
    padding: 20px;
    padding-left: 50px;
}

.quiz-players-options {
    font-size: medium;
    padding: 10px;
}

@media (max-width: 990px) {
    .container {
        padding:0;
        margin:0;
    }

    body {
        padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }
}