.form-horizontal .control-label {
    text-align: left;
}


.navbar-inverse .navbar-nav>li>a.selectedNavbarLink {
    color: white;
}

.margin-horizontal-pad {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-vertical-pad{
    margin-top: 10px;
    margin-bottom: 10px;
}

.make-top-border-solid{
    border-top-style: solid;
}

.align-to-center{
    text-align: center;
}