<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >

            <h1 class="page-header">Forms: Registration Form</h1>

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>


            <div ui-sortable>

                <div ng-repeat="field in model.fields" class="row">
                    <div ng-switch="field.type">
                        <div class="col-sm-6 col-md-6 main">
                            <form>

                                <div class="form-group">
                                    <label>{{field.label}}</label>
                                    <input ng-switch-when="TEXT" type="text"
                                           class="form-control" placeholder={{field.placeholder}}>

                                    <input ng-switch-when="EMAIL" type="email"
                                           class="form-control" placeholder={{field.placeholder}}>

                                    <select ng-switch-when="OPTIONS" class="form-control">
                                        <option ng-repeat="option in field.options" value="option.value">{{option.label}}</option>
                                    </select>

                                    <textarea ng-switch-when="TEXTAREA" class="form-control" placeholder={{field.placeholder}}>
                                    </textarea>

                                    <input ng-switch-when="DATE" type="date" class="form-control"
                                           placeholder={{field.placeholder}}>

                                    <div ng-switch-when="CHECKBOXES" ng-repeat="option in field.options" class="form-group">
                                        <input type="checkbox" value="option.value"/>
                                        {{option.label}}
                                    </div>

                                    <div ng-switch-when="RADIOS">
                                        <form class="form-group">
                                            <div ng-repeat="option in field.options">
                                                <input type="radio" name="option.value"
                                                       value="option.value"/>
                                                {{option.label}}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-6 col-md-6 main">
                            <!--<button ng-click="editField(field)" type="button"-->
                            <button ng-click="model.setEditField(field)" type="button"
                                    class="btn btn-primary glyphicon glyphicon-pencil"
                                    data-toggle="modal" data-target="#myModal">
                            </button>
                            <button type="button" class="btn btn-success glyphicon glyphicon-plus">
                            </button>
                            <button ng-click="model.removeField(field)" type="button"
                                    class="btn btn-danger glyphicon glyphicon-remove">
                            </button>
                            <button type="button" class="btn glyphicon glyphicon-menu-hamburger">
                            </button>
                        </div>


                    </div><!-- ng-switch field type -->

                </div>

            </div>


            <hr class="col-sm-8 col-md-8"/>
            <div class="row">
                <div class="col-sm-6 col-md-6 main">
                    <form>
                        <div class="form-group">
                            <label for="addfield">Add New Field:</label>
                            <select ng-model="model.fieldType" class="form-control" id="addfield">
                                <option value="singlelinetext">Single Line Text</option>
                                <option value="date">Date</option>
                                <option value="dropdown">Dropdown</option>
                                <option value="checkboxes">Checkboxes</option>
                                <option value="radiobuttons">Radio buttons</option>
                                <option value="paragraphtextfield">Paragraph Text Field</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 main">
                    <br/>
                    <button class="btn btn-success glyphicon glyphicon-plus"
                            ng-click="model.addField(model.fieldType)" type="button">
                    </button>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Field Properties</h4>
                            </div>
                            <div class="modal-body">
                                <label for="label">
                                    Label:
                                </label>
                                <input class="form-control" id="label"
                                       ng-model="model.field.label" type="text"
                                       value="model.field.label" placeholder = "Label">
                            </div>
                            <div ng-show="model.field.placeholder" class="modal-body">
                                <label for="placeholder">
                                    Placeholder:
                                </label>
                                <input class="form-control" id="placeholder"
                                       ng-model="model.field.placeholder" type="text"
                                       value="model.field.placeholder" placeholder = "Placeholder">
                            </div>
                            <div ng-show="model.field.options" class="modal-body">
                                <label for="options">Options:</label>
                                <textarea class="form-control" id="options"
                                          ng-model="model.field.fieldOptions"
                                          cols="40" rows="5">
                                </textarea>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" ng-click="model.createField(model.field)" type="button" data-dismiss="modal">
                                    Ok
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
