<div class="container-fluid">
    <div class="stretch-redbull-image">
        <div class="row">
            <div class="main">
                <div class="jumbotron">
                    <h1>Welcome to Formula 1 Explorer!</h1>
                    <p>
                        Build your knowledge about the history of Formula 1 racing.
                        Stay updated with the latest developments.
                        Challenge your friends in fun, time bound quizzes and build your rank!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>