<div class="container-fluid">
    <div class="row">

        <div class="main" >

            <div class="header row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="">Season progress!</h1>
                    <p> Here you will find details of any season's standings as the rounds progressed! </p>
                </div>

                <div class="col-sm-6 col-xs-12 alert alert-info"
                     ng-show="model.message" role="alert">
                    {{model.message}}
                </div>
            </div>

            <div>

                <div class="row">
                    <div class="margin-vertical-pad col-sm-4 col-xs-12" data-toggle="tooltip" title="Select Season">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default" type="button" id="seasonDropDownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.queryOn.season}}
                            <span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="seasonDropDownMenu">
                            <li ng-repeat="season in model.seasonsList"
                                class="col-sm-12 col-xs-12">
                                <a ng-click="model.seasonUpdated(season)">{{season}}</a>
                            </li>
                        </ul>
                    </div>


                    <div class="margin-vertical-pad col-sm-4 col-xs-12" data-toggle="tooltip" title="Select Round">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default" type="button" id="roundDropDownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.queryOn.round}}
                            <span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="roundDropDownMenu">
                            <li ng-repeat="round in model.roundsList"
                                class="col-sm-12 col-xs-12">
                                <a ng-click="model.roundUpdated(round)">{{round}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="margin-vertical-pad col-sm-4 col-xs-12" data-toggle="tooltip" title="Select Championship Type">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default" type="button" id="championshipTypeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.championshipType}}<span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="championshipTypeDropDown">
                            <li class="col-sm-12 col-xs-12">
                                <a ng-click="model.setStandingsType('Drivers')">Drivers</a>
                            </li>
                            <li class="col-sm-12 col-xs-12">
                                <a ng-click="model.setStandingsType('Constructors')">Constructors</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- prev next row -->
                <div class="row margin-vertical-pad">

                    <div class="col-sm-2"></div>

                    <div class="col-sm-3 col-xs-6">
                        <button class="col-sm-12 col-xs-12 btn btn-info" ng-click="model.goBackOneRace()">
                            <span class="glyphicon glyphicon-backward"></span> Previous Race
                        </button>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-sm-3 col-xs-6">
                        <button class="col-sm-12 col-xs-12 btn btn-info" ng-click="model.goAheadOneRace()">
                            Next Race <span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </div>

                    <div class="col-sm-2"></div>
                </div>

                <div ng-if="model.standingSearchResult" class="table-responsive margin-vertical-pad">

                    <table ng-if="model.standingsSearchTypeDriver" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="dont-show-on-mobile"> Position </th>
                                <th> Points </th>
                                <th> Driver </th>
                                <th> Constructor </th>
                                <th class="dont-show-on-mobile"> Nationality </th>

                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="result in model.standingSearchResult">
                            <tr>
                                <td class="dont-show-on-mobile">
                                    {{result.position}}
                                </td>
                                <td>
                                    {{result.points}}
                                </td>
                                <td>
                                    <a href="{{result.Driver.url}}">{{result.Driver.givenName}} {{result.Driver.familyName}}</a>
                                </td>
                                <td>
                                    <a href="{{result.Constructors[0].url}}">{{result.Constructors[0].name}}</a>
                                </td>
                                <td class="dont-show-on-mobile">
                                    {{result.Driver.nationality}}
                                </td>

                                <td ng-if="!currentUser">
                                    <div class="row">
                                        <a href="#/driver/{{result.Driver.driverId}}"><button class="btn btn-info col-sm-9">
                                            <span class="glyphicon glyphicon-info-sign"></span> Driver Info
                                        </button></a>
                                    </div>
                                </td>
                                <td ng-if="currentUser">
                                    <div class="row">
                                        <button ng-click="model.storeResult($index)" class="btn btn-success col-sm-4 col-xs-12">
                                            <span class="glyphicon glyphicon-plus"></span> Store
                                        </button>

                                        <button ng-click="model.hideResult($index)" class="btn btn-danger col-sm-4 col-xs-12">
                                            <span class="glyphicon glyphicon-remove"></span> Hide
                                        </button>

                                        <a href="#/driver/{{result.Driver.driverId}}"><button class="btn btn-info col-sm-4 col-xs-12">
                                            <span class="glyphicon glyphicon-info-sign"></span> More
                                        </button></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table ng-if="!model.standingsSearchTypeDriver" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="dont-show-on-mobile"> Position </th>
                                <th> Points </th>
                                <th> Constructor </th>
                                <th class="dont-show-on-mobile"> Nationality </th>

                                <th ng-if="currentUser"> Action </th>

                            </tr>
                        </thead>
                        <tbody ng-repeat="result in model.standingSearchResult">
                            <tr>
                                <td class="dont-show-on-mobile">
                                    {{result.position}}
                                </td>
                                <td>
                                    {{result.points}}
                                </td>
                                <td>
                                    <a href="result.Constructor.url">{{result.Constructor.name}}</a>
                                </td>
                                <td class="dont-show-on-mobile">
                                    {{result.Constructor.nationality}}
                                </td>

                                <td>
                                    <div class="row">
                                        <button ng-if="currentUser" ng-click="model.storeResult($index)" class="btn btn-success col-sm-6 col-xs-12">
                                            <span class="glyphicon glyphicon-plus"></span> Store
                                        </button>

                                        <button ng-if="currentUser" ng-click="model.hideResult($index)" class="btn btn-danger col-sm-6 col-xs-12">
                                            <span class="glyphicon glyphicon-remove"></span> Hide
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
