<div class="container-fluid">
    <div class="row">

        <div class="main" >

            <h1 class="">Search</h1>

            <div>

                <div class="row">
                    <div class="margin-vertical-pad col-sm-3 col-xs-12">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default" type="button" id="seasonDropDownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.queryOn.season}}
                            <span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="seasonDropDownMenu">
                            <li ng-repeat="season in model.seasonsList">
                                <a ng-click="model.seasonUpdated(season)">{{season}}</a>
                            </li>
                        </ul>
                    </div>


                    <div class="margin-vertical-pad col-sm-3 col-xs-12">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default" type="button" id="roundDropDownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.queryOn.round}}
                            <span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="roundDropDownMenu">
                            <li ng-repeat="round in model.roundsList">
                                <a ng-click="model.roundUpdated(round)">{{round}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="margin-vertical-pad col-sm-3 col-xs-12">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default" type="button" id="championshipTypeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.championshipType}}<span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="championshipTypeDropDown">
                            <li><a ng-click="model.setStandingsType('Drivers')">Drivers</a></li>
                            <li><a ng-click="model.setStandingsType('Constructors')">Constructors</a></li>
                        </ul>
                    </div>

                    <div class="margin-vertical-pad col-xs-12 col-sm-3 ">
                        <button class="col-sm-12 col-xs-12 btn btn-info" ng-click="model.searchStanding()" class="form-control">
                            <span class="glyphicon glyphicon-search"> Search </span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive margin-vertical-pad">

                    <table ng-if="model.standingsSearchTypeDriver" class="table table-striped">
                        <thead>
                            <tr>
                                <th> Position </th>
                                <th> Points </th>
                                <th> Driver </th>
                                <th> Constructor </th>
                                <th> Nationality </th>

                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="result in model.standingSearchResult">
                            <tr>
                                <td>
                                    {{result.position}}
                                </td>
                                <td>
                                    {{result.points}}
                                </td>
                                <td>
                                    <a href="{{result.Driver.url}}">{{result.Driver.givenName}} {{result.Driver.familyName}}</a>
                                </td>
                                <td>
                                    <a href="{{result.Constructors[0].url}}">{{result.Constructors[0].name}}</a>
                                </td>
                                <td>
                                    {{result.Driver.nationality}}
                                </td>

                                <td ng-if="!currentUser">
                                    <div class="row">
                                        <a href="#/driver/{{result.Driver.driverId}}"><button class="btn btn-info col-sm-9 margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-info-sign"></span> Driver Info
                                        </button></a>
                                    </div>
                                </td>
                                <td ng-if="currentUser">
                                    <div class="row">
                                        <button ng-click="model.storeResult($index)" class="btn btn-success col-sm-3 margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-plus"></span> Store
                                        </button>

                                        <button ng-click="model.hideResult($index)" class="btn btn-danger col-sm-3 margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-remove"></span> Hide
                                        </button>

                                        <a href="#/driver/{{result.Driver.driverId}}"><button class="btn btn-info col-sm-3 margin-horizontal-pad">
                                            <span class="glyphicon glyphicon-info-sign"></span> Driver Info
                                        </button></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table ng-if="!model.standingsSearchTypeDriver" class="table table-striped">
                        <thead>
                        <tr>
                            <th> Position </th>
                            <th> Points </th>
                            <th> Constructor </th>
                            <th> Nationality </th>

                            <th ng-if="currentUser"> Action </th>

                        </tr>
                        </thead>
                        <tbody ng-repeat="result in model.standingSearchResult">
                        <tr>
                            <td>
                                {{result.position}}
                            </td>
                            <td>
                                {{result.points}}
                            </td>
                            <td>
                                <a href="result.Constructor.url">{{result.Constructor.name}}</a>
                            </td>
                            <td>
                                {{result.Constructor.nationality}}
                            </td>

                            <td>
                                <div class="row">
                                    <button ng-if="currentUser" ng-click="model.storeResult($index)" class="btn btn-success col-sm-3 margin-horizontal-pad">
                                        <span class="glyphicon glyphicon-plus"></span> Store
                                    </button>

                                    <button ng-if="currentUser" ng-click="model.hideResult($index)" class="btn btn-danger col-sm-3 margin-horizontal-pad">
                                        <span class="glyphicon glyphicon-remove"></span> Hide
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
