<div class="container-fluid">
    <div class="row">

        <div class="main" >

            <div class="container">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="page-header">Season progress!</h1>
                    <p> Here you will find details of any season's standings as the rounds progressed.<br>
                        Click on the driver names to see more exciting details!
                    </p>
                </div>

                <div class="col-sm-6 col-xs-12 alert alert-info"
                     ng-show="model.message" role="alert">
                    {{model.message}}
                </div>

                <div ng-if="currentUser"
                     class="col-sm-12 col-xs-12 instructions">
                    <p>
                        <strong>Instructions:</strong>
                        Use the <span class="glyphicon glyphicon-plus"></span>/<span class="glyphicon glyphicon-ok"></span>
                        button to toggle a stored fact.
                        Clicking <span class="glyphicon glyphicon-plus"></span> stores a fact for you,
                        and <span class="glyphicon glyphicon-ok"></span> removes a stored fact.
                        Click <span class="glyphicon glyphicon-filter"></span> to temporarily hide any row.
                    </p>
                </div>

                <a href="#/stored">
                    <button class="col-sm-12 col-xs-12 btn btn-action search-view-button"
                            type="button" ng-if="model.userSearching">
                        Go to my Stored Facts
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </a>
            </div>

            <div class="container">

                <div class="row">
                    <div class="margin-vertical-pad col-sm-4 col-xs-12" data-toggle="tooltip" title="Select Season">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default search-view-button" type="button" id="seasonDropDownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Season {{model.queryOn.season}}
                            <span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="seasonDropDownMenu">
                            <li ng-repeat="season in model.seasonsList"
                                class="col-sm-12 col-xs-12">
                                <a ng-click="model.seasonUpdated(season)">{{season}}</a>
                            </li>
                        </ul>
                    </div>


                    <div class="margin-vertical-pad col-sm-4 col-xs-12" data-toggle="tooltip" title="Select Round">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default search-view-button" type="button" id="roundDropDownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Round {{model.queryOn.round}}
                            <span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="roundDropDownMenu">
                            <li ng-repeat="round in model.roundsList"
                                class="col-sm-12 col-xs-12">
                                <a ng-click="model.roundUpdated(round)">{{round}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="margin-vertical-pad col-sm-4 col-xs-12" data-toggle="tooltip" title="Select Championship Type">
                        <button class="col-sm-12 col-xs-12 dropdown-toggle btn btn-default search-view-button" type="button" id="championshipTypeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{model.championshipType}}<span class="caret margin-horizontal-pad"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="championshipTypeDropDown">
                            <li class="col-sm-12 col-xs-12">
                                <a ng-click="model.setStandingsType('Drivers')">Drivers</a>
                            </li>
                            <li class="col-sm-12 col-xs-12">
                                <a ng-click="model.setStandingsType('Constructors')">Constructors</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- prev next row -->
                <div class="container-fluid row margin-vertical-pad" align="center">

                    <button class="btn btn-info search-view-button"
                            ng-click="model.goBackOneRace()">
                        <span class="glyphicon glyphicon-backward"></span>
                        Previous
                    </button>

                    <button class="btn btn-info search-view-button"
                            ng-click="model.goAheadOneRace()">
                        Next
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                </div>

                <div ng-if="model.standingSearchResult" class="container-fluid table-responsive margin-vertical-pad">

                    <table ng-if="model.standingsSearchTypeDriver" class="table">
                        <thead>
                            <tr>
                                <th class="dont-show-on-mobile"> Position </th>
                                <th> Points </th>
                                <th> Driver </th>
                                <th class="dont-show-on-mobile"> Constructor </th>
                                <th class="dont-show-on-mobile"> Nationality </th>

                                <th ng-if="currentUser"> Action </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="result in model.standingSearchResult">
                            <tr ng-class="{'info': currentUser.supportConstructor == result.Constructors[0].name}">
                                <td class="dont-show-on-mobile">
                                    {{result.position}}
                                </td>
                                <td>
                                    {{result.points}}
                                </td>
                                <td>
                                    <a href="#/driver/{{result.Driver.driverId}}">
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{result.Driver.givenName}} {{result.Driver.familyName}}
                                    </a>
                                </td>
                                <td class="dont-show-on-mobile">
                                    <a href="{{result.Constructors[0].url}}">{{result.Constructors[0].name}}</a>
                                </td>
                                <td class="dont-show-on-mobile">
                                    {{result.Driver.nationality}}
                                </td>

                                <td ng-if="currentUser">
                                    <div class="row" align="center">
                                        <button ng-if="!result.alreadyStored"
                                                ng-click="model.storeResult($index)"
                                                class="btn btn-success btn-to-store col-sm-4 col-xs-4">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button ng-if="result.alreadyStored"
                                                ng-click="model.deleteFact(result.factId)"
                                                class="btn btn-stored col-sm-4 col-xs-4">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button ng-click="model.hideResult($index)"
                                                class="btn btn-danger col-sm-4 col-xs-4">
                                            <span class="glyphicon glyphicon-filter"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table ng-if="!model.standingsSearchTypeDriver" class="table">
                        <thead>
                            <tr>
                                <th class="dont-show-on-mobile"> Position </th>
                                <th> Points </th>
                                <th> Constructor </th>
                                <th class="dont-show-on-mobile"> Nationality </th>

                                <th ng-if="currentUser"> Action </th>

                            </tr>
                        </thead>
                        <tbody ng-repeat="result in model.standingSearchResult">
                            <tr ng-class="{'info': currentUser.supportConstructor == result.Constructor.name}">
                                <td class="dont-show-on-mobile">
                                    {{result.position}}
                                </td>
                                <td>
                                    {{result.points}}
                                </td>
                                <td>
                                    <a href="{{result.Constructor.url}}">{{result.Constructor.name}}</a>
                                </td>
                                <td class="dont-show-on-mobile">
                                    {{result.Constructor.nationality}}
                                </td>

                                <td>
                                    <div class="row" align="center">
                                        <button ng-if="currentUser && !result.alreadyStored"
                                                ng-click="model.storeResult($index)"
                                                class="btn btn-success col-sm-4 col-xs-4">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button ng-if="result.alreadyStored"
                                                ng-click="model.deleteFact(result.factId)"
                                                class="btn btn-stored col-sm-4 col-xs-4">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button ng-if="currentUser" ng-click="model.hideResult($index)"
                                                class="btn btn-danger col-sm-4 col-xs-4">
                                            <span class="glyphicon glyphicon-filter"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
